* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(/images/background.JPG) no-repeat fixed center;
  background-position: left;
  background-color: black;
  background-size: 40%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: wheat;
  margin: 50px;
  overflow: hidden;
}

.logo {
  position: no-repeat fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 150px;
  margin-left: -40px;
  margin-top: -40px;
}

main {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 40%;
  top: 30%;
  font-family: "Courier New";
  font-size: 25px;
}

main ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main ul li a {
  color: wheat;
  text-decoration: none;
  font-size: 20px;
}

li {
  list-style-type: none;
}

footer {
  position: absolute;
  bottom: 15px;
}
